@model SimpleSite.Models.Notification

<p>You have selected to delete this notification.</p>
<p>
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4>@Model.Title</h4>
        </div>
        <div class="panel-body">
            If this was the action that you wanted to do,
            please confirm your choice, or cancel and return
            to the page.
        </div>
    </div>
</p>