@model SimpleSite.Models.Person

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <h1>Welcome to the Person Page <small>Read all about @Model.FirstName</small></h1>
</div>

@Html.DisplayForModel(Model)