
<hr />
<div class="container">
    <div class="pull-right">
        <form class="form-inline" role="form">
            <div class="form-group">
                <label class="sr-only" for="search-text">Email address</label>
                <input type="text" class="form-control" id="search-text" placeholder="Enter Search Text">
            </div>
            <button type="button" class="btn btn-success" id="search-btn">Search</button>
        </form>
    </div>
</div>